* {
  color-scheme: light dark;
}
::placeholder {
  color: light-dark(#adadad, #c8c8c8);
}
body {
  display: flex;
  height: 100svh;
}
section {
  padding: 0.5rem;
  border-radius: 1rem;
  width: 99%;
  color: light-dark(#060606, #fefefe);
  background-color: light-dark(#f7f7f7, #282828);
  margin: 1%;
}
section header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section header button {
  color: #fefefe;
  background-color: dodgerblue;
  padding: 10px 15px;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  transition: 0.1s ease;
  font-weight: 600;
  font-size: 1rem;
}
section header button:hover {
  background-color: #3d78d3;
}
.table_component {
  padding: 1rem 2rem;
  overflow: auto;
  width: 100%;
  overflow-y: scroll;
  max-height: 550px;
  scrollbar-color: light-dark(#f7f7f7, #282828);
}
.table_component table {
  border: 1px solid;
  border-color: light-dark(#f7f7f7, #282828);
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.table_component caption {
  caption-side: top;
  text-align: left;
}

.table_component th {
  border: 1px solid;
  border-color: light-dark(#f7f7f7, #282828);
  background-color: #0099ff;
  color: #ffffff;
  padding: 5px;
}
.table_component th:last-child {
  width: 5%;
}
.table_component tr:nth-child(odd) td {
  background-color: light-dark(#dbdbdb, #3b3b3b);
}
.table_component tr:nth-child(even) td {
  background-color: light-dark(#f7f7f7, #282828);
}

.table_component td {
  border: 1px solid;
  border-color: light-dark(#f7f7f7, #282828);
  color: light-dark(#060606, #fefefe);
  padding: 5px;
}
.table_component td:last-child {
  display: flex;
  justify-content: center;
  fill: light-dark(#060606, #fefefe);
}
.table_component td button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}
.table_component td button:hover {
  fill: dodgerblue;
}
.add_new_product_form {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.add_new_product_form .form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  flex-direction: column;
  border: 1px solid;
  border-color: light-dark(#dbdbdb, #3f3f3f);
  color: light-dark(#060606, #fefefe);
  background-color: light-dark(#f7f7f7, #282828);
  width: 50%;
  height: 70%;
  padding: 2rem;
  border-radius: 1rem;
}
.add_new_product_form .form h1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.add_new_product_form .form div {
  display: flex;
  flex-direction: column;
}
.add_new_product_form .form div:nth-child(4),
div:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.add_new_product_form .form input {
  outline: none;
  border-radius: 0.5rem;
  padding: 10px 15px;
  border: 1px solid;
  border-color: light-dark(#dbdbdb, #3f3f3f);
  background-color: light-dark(#f7f7f7, #3f3f3f);
}
.add_new_product_form .form .container_buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: fit-content;
  padding-top: 1rem;
}
.add_new_product_form .form .container_buttons button {
  height: fit-content;
}
.add_new_product_form .form .container_buttons input {
  color: #fefefe;
  background-color: dodgerblue;
  padding: 5px 20px;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  transition: 0.1s ease;
  font-weight: 600;
  font-size: 1rem;
}
.add_new_product_form .form .container_buttons input:nth-child(2) {
  color: #fefefe;
  background-color: gray;
  padding: 5px 20px;
  border: 2px solid gray;
  border-radius: 5px;
  transition: 0.1s ease;
  font-weight: 600;
  font-size: 1rem;
}
