{% extends "base.html" %} {% block title %}Empresa{% endblock %}{% block content
%} {% include "sidebar.html" %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'style/company.css')}}"
/>

<section>
  <form method="post" action="/modify-company" id="form_company">
    <header>
      <h1>Empresa</h1>
      <input type="submit" value="Guardar" />
    </header>
    <div>
      <label for="">Nombre empresa:</label>
      <input type="text" required placeholder="Nombre de la empresa" />
    </div>
    <div>
      <label for="">Localización</label>
      <input type="text" required placeholder="Localización de la empresa" />
    </div>
    <div>
      <label for="">Contacto</label>
      <input type="text" required placeholder="Contacto de la empresa" />
    </div>
  </form>
  <form method="post" action="/add-department" id="form_departments">
    <label for="">Añadir departamentos:</label>
    <div>
      <input
        type="text"
        name="name_department"
        placeholder="Nombre del departamento"
        required
      />
      <input type="color" name="color_department" id="" value="#3d79d3" />
      <input type="submit" value="Añadir departamento" />
    </div>
  </form>
  <div class="container_departments">
    {% for department in departments %}
    <span
      style="color: {{department.color}}; background-color: {{department.color}}10;"
      >{{department.name}}
      <form
        action="{{ url_for('delete_department', department_id=department.id) }}"
        method="post"
      >
        <button type="submit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            id="Outline"
            viewBox="0 0 24 24"
            fill="{{department.color}}"
            width="20"
            height="20"
          >
            <path
              d="M18,6h0a1,1,0,0,0-1.414,0L12,10.586,7.414,6A1,1,0,0,0,6,6H6A1,1,0,0,0,6,7.414L10.586,12,6,16.586A1,1,0,0,0,6,18H6a1,1,0,0,0,1.414,0L12,13.414,16.586,18A1,1,0,0,0,18,18h0a1,1,0,0,0,0-1.414L13.414,12,18,7.414A1,1,0,0,0,18,6Z"
            />
          </svg>
        </button>
      </form>
    </span>
    {% endfor %}
  </div>
</section>
<script src="{{url_for('static', filename = 'js/company.js')}}"></script>
{% endblock %}
