{% extends "base.html" %} {% block title %}Empleados{% endblock %}{% block
content %} {% include "sidebar.html" %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'style/employees.css')}}"
/>
<section>
  <header>
    <h1>Empleados</h1>
    <button id="btn_add_new_employer">Añadir empleado</button>
  </header>
  <main>
    <div class="container_cards_employees">
      {% for employer in employees %}
      <div class="employer_card">
        <header>
          <img src="" alt="" />
          <div class="employer_details">
            <span>{{employer.name}}</span>
            <span>{{employer.contact}}</span>
          </div>
        </header>
        <main>
          <div class="employer_department_details">
            <span>Departamento: </span>
            {% if departments.name == employer.department %}
            <span
              style="color: {{departments.color}}; background-color: {{departments.color}}10;"
              >{{employer.department}}</span
            >
            {% endif %}
          </div>
          <button>Contactar</button>
        </main>
      </div>
      {% endfor %}
    </div>
  </main>
  <div class="add_new_employer_form">
    <form method="post" action="/add-employer" class="form">
      <h1>Añadir empleado</h1>
      <div>
        <label for="">ID Empleado</label>
        <input
          type="number"
          placeholder="ID del empleado"
          name="id"
          required
          min="1"
        />
      </div>
      <div>
        <label for="">Nombre Empleado</label>
        <input
          type="text"
          name="name"
          placeholder="Nombre del empleado"
          required
        />
      </div>
      <div>
        <label for="">Departamento del empleado</label>

        <select name="department" id="" required>
          <option value="" selected disabled hidden>Escoge una opción</option>
          {% for department in departments %}
          <option value="{{department.name}}">{{department.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="">Contacto del empleado</label>
        <input
          type="email"
          name="contact"
          placeholder="Email del empleado"
          required
        />
      </div>
      <div class="container_buttons">
        <button id="btn_add" onclick="addNewSale()">Añadir</button>
        <button id="btn_cancel">Cancelar</button>
      </div>
    </form>
  </div>
</section>
<script src="{{url_for('static', filename = 'js/employees.js')}}"></script>
{% endblock %}
