{% extends "base.html" %} {% block title %}Empleados{% endblock %}{% block
content %} {% include "sidebar.html" %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'style/employees.css')}}"
/>
<section>
  <header>
    <h1>Empleados</h1>
    <button id="btn_add_new_employer">Añadir empleado</button>
  </header>
  <main>
    <div class="container_cards_employees">
      {% for employer in employees %}
      <div class="employer_card">
        <header>
          <img
            src="{{url_for('static', filename = 'img/default-user.webp')}}"
            alt=""
          />
          <div class="employer_details">
            <span>{{employer.name}}</span>
            <span>{{employer.contact}}</span>
          </div>
          <button onclick="showDeleteForm(this)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              id="Outline"
              viewBox="0 0 24 24"
              width="16"
              height="16"
            >
              <circle cx="12" cy="2" r="2" />
              <circle cx="12" cy="12" r="2" />
              <circle cx="12" cy="22" r="2" />
            </svg>
          </button>
          <form
            method="post"
            action="{{ url_for('delete_employer', employer_id=employer.id) }}"
            class="delete_form"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1"
              id="Capa_1"
              x="0px"
              y="0px"
              viewBox="0 0 512 512"
              style="enable-background: new 0 0 512 512"
              xml:space="preserve"
              width="14"
              height="14"
            >
              <g>
                <path
                  d="M490.667,96c0-17.673-14.327-32-32-32h-80.555C364.632,25.757,328.549,0.13,288,0h-64   c-40.549,0.13-76.632,25.757-90.112,64H53.333c-17.673,0-32,14.327-32,32l0,0c0,17.673,14.327,32,32,32H64v266.667   C64,459.468,116.532,512,181.333,512h149.333C395.468,512,448,459.468,448,394.667V128h10.667   C476.34,128,490.667,113.673,490.667,96z M384,394.667C384,424.122,360.122,448,330.667,448H181.333   C151.878,448,128,424.122,128,394.667V128h256V394.667z"
                />
                <path
                  d="M202.667,384c17.673,0,32-14.327,32-32V224c0-17.673-14.327-32-32-32s-32,14.327-32,32v128   C170.667,369.673,184.994,384,202.667,384z"
                />
                <path
                  d="M309.333,384c17.673,0,32-14.327,32-32V224c0-17.673-14.327-32-32-32s-32,14.327-32,32v128   C277.333,369.673,291.66,384,309.333,384z"
                />
              </g>
            </svg>
            <button type="submit" id="btn_delete">Eliminar</button>
          </form>
        </header>
        <main>
          <div class="employer_department_details">
            <span>Departamento: </span>
            {% for department in departments %} {% if employer.department ==
            department.name %}
            <span
              style="color: {{department.color}}; background-color: {{department.color}}10;"
              >{{employer.department}}</span
            >
            {% endif %} {% endfor %}
          </div>
          <button>Contactar</button>
        </main>
      </div>
      {% endfor %}
    </div>
  </main>
  <div class="add_new_employer_form">
    <form method="post" action="/add-employer" class="form">
      <h1>Añadir empleado</h1>
      <div>
        <label for="">ID Empleado</label>
        <input
          type="number"
          placeholder="ID del empleado"
          name="id"
          required
          min="1"
        />
      </div>
      <div>
        <label for="">Nombre Empleado</label>
        <input
          type="text"
          name="name"
          placeholder="Nombre del empleado"
          required
        />
      </div>
      <div>
        <label for="">Departamento del empleado</label>
        <select name="department" id="" required>
          <option value="" selected disabled hidden>Escoge una opción</option>
          {% for department in departments %}
          <option value="{{department.name}}">{{department.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="">Contacto del empleado</label>
        <input
          type="email"
          name="contact"
          placeholder="Email del empleado"
          required
        />
      </div>
      <div class="container_buttons">
        <input type="submit" value="Añadir" />
        <input id="btn_cancel" type="reset" value="Cancelar" />
      </div>
    </form>
  </div>
</section>
<script src="{{url_for('static', filename = 'js/employees.js')}}"></script>
{% endblock %}
